*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.section-1{
    background-image: url(/assets/slide1.jpg);
    width: 1349px;
    height: 1024px;
    transition: background-image 0.35sec;
    
    font-family:"TheMixSemiBold-Plain" ;
    
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 159px;
    padding: 70px ;
    overflow: hidden;}

a{
    text-decoration: none;
}


.navbar-container ul{
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:40px;
    font: 0.85rem ;
    list-style-type: none;
    padding-right:90px ;
    line-height:3rem;
    letter-spacing: initial;
   

    
}



.join-button{
    background-color: #0078BE;
    border-radius:30px ;
    cursor: pointer;
    font-size: 14.4px;
    font-weight: 400;
   
}

.hero-title{
    color: #FFFFFF;
    font-family: "TheMixBlack-Caps", Sans-serif;
    font-size: 40px;
    font-weight: 600px;
    text-align: center;
    margin-top: 260px;
   
}


.boxes{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    margin: 0px 1px 24px 15px;
    background-color: #FFFFFF;
    border-radius: 0.35rem;
 
    height: 400px;
    width: 250px;
    padding: 20px



   
}
.BDD-foundations h2{
    text-align: center;
    font-family: "TheMixBlack-Caps", Sans-serif;

}

.foundations-contain{
    font-family: "TheMixBlack-Caps", Sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #e2e8f0;
    align-items: center;
    flex-wrap: wrap;
    

}
.boxes p{
    color: #646464;
    font-weight: 400;
    font-size: 16px;
    font-family: "TheMixSemiBold-Plain";

}


.boxes h2{
    text-align: center;
    padding:30px;
    font-size: 32px;
    font-weight: 600;
    color:#212121;
    background-color: #e2e8f0;

}

.boxes:hover{
 background-color: rgb(188,206,251);

}

.section-3{
    background-image: url(/assets/Shared-Space-at-BDD.png);
    text-align: center;
    padding: 30px;
    font-size: 32px;
    color:#FFFFFF;
    font-weight: 400;
    
    background-color:black;
}
.join-container{
    display: flex;
    justify-content: space-evenly;
    

}

.community-container{
    display: flex;
    justify-content: space-between;
    
}
.section-4 h2{
    text-align: center;
    padding: 30px;
    font-weight: 600;

}

.community-container img{
    height:350px;
    width: 380px;
}

.join-boxes{
   margin-left: 20px;
   margin-right: 30px;
   background-color:#e2e8f0;
   border-radius: 0.25rem;

   
}
.join-boxes ul{
    list-style-type: none;
}

.join-boxes button{
    border-radius: 0.25rem;
    margin-top: 120px;
    background-color:#e2e8f0;
   

}
.join-boxes:hover{
    opacity: 1;
}

.section-4-end{
    text-align: center;
    padding-top: 30px;
}

.section-4-end img{
    height:70px;
    width: 200px;
    padding-top: 20px;

}